%h1 {{product.title}}
%p {{product.price | currency: "$"}}
%p {{product.description}}
%p 
  %a{href: "#/products"} Back
  %a{href: "#/products/{{product.id}}/edit"} Edit
  %a{"ng-click" => "deleteProduct()"} Delete
